:root {
    --nav-margin-top: 20px;
    --line-spacing: 170%;
  }

body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    background: aliceblue;
    font-family: 'Fredoka', sans-serif;
    overflow-x: hidden;

}



