
.regularWrapper{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.dropDownWrapper{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.splashWrapper{
    background-color:aliceblue;
    height: 70vh;
    /* margin-bottom: 100px; */
    width: 100%;
    display: block;

}

.pinImage{
    width: 10%;
    position: absolute;
    margin-top: -3%;
    margin-left: 45%;
}

.navMenu{
    width: 100%;
    text-align: center;
    margin-top: var(--nav-margin-top);
}

.navMenuMobile{
    width: 100%;
    margin-top: var(--nav-margin-top);
    display: none;
}

.dropDownMenu{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgb(208, 229, 236);
    z-index: 80;

    transition: slidein .5s ease-in-out;
  
}


@keyframes slidein {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
  }

.dropDownMenuHidden{
    display:none;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgb(146, 163, 221);
    z-index: 80;
}


.dropDownMenuItems{
    font-size: 4em;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .dropDownMenuItem{
    border-bottom: 5px;
    border-style: solid;
    border-left:none;
    border-right:none;
    border-top:none;
  }


  .dropDownMenuTopItem{
    border-bottom: 5px;
    border-top: 5px;

    border-style: solid;
    border-left:none;
    border-right:none;
  }

.mintButton{
    border: 5px solid lightblue;
    padding: 10px;
    border-radius: 200px;
    background: aliceblue;
    width: 15%;
    text-align: center;
    font-size: 3em;
    color: rgb(124, 169, 184);
    margin: 0 auto;
    box-shadow: 5px 5px darkgrey;
    margin-top: 70px;

    position: relative;
    z-index: 50;

    animation: crescendo .6s  ease-in;
}

.mintButton:hover{
    box-shadow: 2px 2px darkgrey;
    margin-top: 72px;
    cursor:pointer;
}

@keyframes crescendo {
    0%   {transform: scale(.2);}
    100% {transform: scale(1);}
  }



.navLink{
    position: relative;
    font-size: 1.8em;
    font-family: 'Fredoka', sans-serif;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 15px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.navLinkSocials{
    position: relative;
    font-size: 1.8em;
    font-family: 'Fredoka', sans-serif;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 15px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 20px;
    top: 20px;
}

.menuBar{
    position: relative;
    font-size: 1.8em;
    font-family: 'Fredoka', sans-serif;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.menuBar:hover{
    cursor: pointer;
}

.menuLogo{
    position: relative;
    font-size: 1.8em;
    font-family: 'Fredoka', sans-serif;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;

}



.logoImage{
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    animation: crescendo .4s  ease-in;
}

.aboutSection{
    height: 100%;
    width: 100%;
    background: white;
    display: block;
    margin: 0;
    padding: 0;
}

.sectionHeader{
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    font-size: 2em;
}

.aboutContent{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;

    width: 60%;
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    line-height: var( --line-spacing);
    padding-bottom: 80px;
}

.aboutGifs{
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
    background: #D9EAD3;
}

.aboutGif{
    flex: 33.33%;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .aboutGifLast{
    flex: 33.33%;
    margin-bottom: 0;
    padding-bottom: 0;
  }


.everyMapSection{
    padding-top: 5px;
    display: block;
    height: 100%;
    width: 100%;
    background: #D9EAD3;
}

.everymapHeader{
    padding-top: 15px;
    height: 100%;
    text-align: center;
    font-size: 1.8em;
    width: 100%;
    margin: 0 auto;
}

.everymapContent{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    width: 60%;
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 100px;
    line-height: var( --line-spacing);

}

.faqSection{
    height: 100%;
    background-image: url('/imgs/stars_01.svg');
    background-size: cover;
    padding-bottom: 200px;
}

.moonImage{
    position:absolute;
    width: 30%;
    margin-top: -60px;
    margin-left: 40px;
    animation: crescendoTwo 2s  ease-in infinite alternate;
}

@keyframes crescendoTwo {
    0%   {transform: scale(.9);}
    100% {transform: scale(1);}
  }

.questions{
    padding-top: 10%;
    width: 100%;
}

.question{
    padding: 20px;
    font-size: 2em;
    background: white;
    border-radius: 50px;
    border: 5px solid #000000;
    padding: 30px; 
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.teamSection{
    width: 100%; 
    height: 800px;
    background-color: rgb(176, 207, 235);
}

.teamMembers{
    padding-top: 70px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 70px;

}

.teamMember{
    flex: 25%;
    padding: 10px;
    text-align: center;
}



.teamPhotoTag{
    width: 70%;
}

/* .teamPhotoTag:hover{
    width: 72%;
} */

.teamName{
    font-size: 3em;
}

.teamContent{
    width: 100%; 

    font-family: 'Nunito', sans-serif; 
}



.footer{
    height: 300px;
    background-color: aliceblue;
}









@media only screen and (max-width: 800px) {
    .navMenuMobile{
        display: block;
    }  
    .navMenu{
        display: none;
    } 
    .logoImage{
        width: 92%;
        margin: 0 auto;
        margin-top: 60px;
        animation: crescendo .4s  ease-in;
    }
    .mintButton{
        border: 5px solid lightblue;
        width: 25%;
        font-size: 1.8em;
        margin-top: 50px;
        animation: crescendo .6s  ease-in;
    }
    .mintButton:hover{
        margin-top: 50px;
    }
    .dropDownWrapper{
        width: 100%;
        height: 40vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }    
    .dropDownMenu{
    display: block;
    }

    .aboutContent{
        width: 80%;
        font-size: 1.05em;
    }
    .everymapContent{
        width: 80%;
        font-size: 1.05em;
    }
    .sectionHeader{
        margin: 0 auto;
        padding-top: 30px;
        text-align: center;
        font-size: 2em;
    }

    .aboutGif{
        flex: 50%;
        margin-bottom: 0;
        padding-bottom: 0;
      }


    .aboutGifLast{
        display: none;
    }


    .moonImage{
        position:absolute;
        width: 40%;
        margin-top: -70px;
        margin-left: 10px;
        animation: crescendoTwo 2s  ease-in infinite alternate;
    }

    .question{
        font-size: 1.5em;
    }

    .teamName{
        font-size: 1.4em;
    }

  
    
    
  }


  @media only screen and (max-width: 800px) and (orientation: landscape) {
    .logoImage{
        width: 92%;
        margin: 0 auto;
        margin-top: 20px;
        animation: crescendo .4s  ease-in;
    }

  }