body{
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
    /* required to prevent rogue scrollbars */
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url("/imgs/background.svg");  
    background-size: cover;  
  

}



/* @media only screen and (max-width: 800px) {
    body{
        height: 100%;
    }
  } */

  @media only screen and (orientation: landscape) {
    body{
        /* max-width: 90vw; */
    }
  }
  /* landscape mode iphone 6,7,8 */
  /* @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) { 
        body{
            height: 100%;
            width: 100%;
            margin: 0;

        }
    } */



